{% extends "products/base.html" %}

{% block content %}
<section id="contact" class="section-container">
<div class="container my-5">
    <h2 class="text-center">Contact Us</h2>
    <p class="text-center">We would love to hear from you! Fill out the form below and we'll get back to you as soon as possible.</p>
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100 mt-3">Send Message</button>
            </form>
        </div>
    </div>
</div>
</section>
{% endblock %}
